.mainPhoto {
    @include box-sizing;
    @include transition;
    border: 10px solid #e9e9e9;
    position: relative;
    
    @include e("zoom") {
        @include box-sizing;
        background-color: #e9e9e9;
        width: 100%;
        height: auto;
        
        @media #{$res-xl}{
            min-height: 475px;
        }

        @media #{$res-sm}{
            min-height: unset;
        }

        @include e("photo") {
            @include box-sizing;
            width: 100% !important;
            height: auto !important;
        }
        @include e("video") {
            position: absolute;
            z-index: 1;
        }
    }
    
}