.product{
    @include flexbox(flex, row, nowrap, space-between, flex-start, flex-start);
    @include box-sizing;
    width: 100%;
    max-width: 1000px;
    margin: 15px auto;

    @include e("col"){
        width: 50%;
    }


}