.thumbs{
    @include flexbox(flex, row, nowrap, flex-start, center, center);
    @media #{$res-sm}{
        @include flexbox(flex, row, nowrap, center, center, center);
        margin-bottom: 35px;
    }
    margin-top: 20px;
    @include e("item"){
        @include box-sizing;
        @include transition;
        width: 75px;
        height: 75px;
        display: flex;
        margin-right: 10px;
        border: 3px solid rgb(158, 158, 158);
        cursor: pointer;
        &.active{
            border: 3px solid $color-secondary-dark;
        }

        @include e("photo"){
            width: 100%;
            height: auto;
            @include box-sizing; 
        }

        @include e("video"){
            @include box-sizing;
            @extend %center-cont;
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: $color-secondary-light;
            &:before{
                color: #FFF;
                font-size: 40px;
            }
        }
        
    }
}